<!DOCTYPE HTML>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>404 Page</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h4>{{errorMessage}}</h4>
    </div>

    {{>footer}}
</body>

</html>