<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Weather</title>
    <meta charset="UTF-8">

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your Weather report</p>
        <form>
            <input placeholder="Please enter location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>